
.App {
  display: flex;
  gap: 30px; 
  padding: 20px;
  justify-items: center;
  
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, #ff9967 0, #ff8864 16.67%, #ff715d 33.33%, #f25353 50%, #e12e4b 66.67%, #d40049 83.33%, #ca004d 100%);
  color: white;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, #ff9967 0, #ff8864 16.67%, #ff715d 33.33%, #f25353 50%, #e12e4b 66.67%, #d40049 83.33%, #ca004d 100%);
  color: white;
}
